<div class="container">
  <div style="text-align: center; margin: 2%"><h2>Registrar Emergencia</h2></div>
  <div style="text-align: center; margin: 3%">
    <form [formGroup]="form" (submit)="aceptar()" class="example-form">
    
      <mat-form-field>
        <mat-label>Tipo de Emergencia</mat-label>
        <input matInput formControlName="Tipo" />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput ty formControlName="Descripcion" />
      </mat-form-field>
      <br />
      <div>
        <mat-form-field>
          <mat-label>Fecha</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="Fecha" />
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <button matButton="elevated">Registrar</button>
      </div>
      <br>
      <div>
        <button matButton="elevated" routerLink="/homes">Cancelar</button>
      </div>
    </form>
  </div>
</div>
