<div class="container">
  <div style="text-align: center;margin: 3%;"><h2>Registro de Comunidades</h2></div>
  <div style="text-align: center;margin: 3%;">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width">
        <mat-label>Comunidad</mat-label>
        <input matInput placeholder="Comunidad" formControlName="comunidad"/>
      </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput placeholder="Descripcion" formControlName="descripcion"/>
      </mat-form-field>
      <div>
        <button matButton="elevated">Registrar</button>
      </div>
      <br>
      <div>
        <button matButton="elevated" routerLink="/homes">Cancelar</button>
      </div>
    </form>
  </div>
</div>
