<div class="container">
  <h3 style="text-align: center; margin-bottom: 15px">
    Registrando contacto para: {{ nombreUsuario }}
  </h3>

  <div style="text-align: center; margin: 3%">
    <form [formGroup]="form" (ngSubmit)="aceptar()" class="example-form">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="Nombre" />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Celular</mat-label>
        <input matInput formControlName="Celular" />
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Relación</mat-label>
        <input matInput formControlName="Relacion" />
      </mat-form-field>

      <div>
        <button matButton="elevated">Registrar</button>
      </div>
      <div>
        <button matButton="elevated" routerLink="/homes">Cancelar</button>
      </div>
    </form>
  </div>
</div>
